

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#galeri {
    width:80%;
    height:700px;
    /*background-color:lightgray;*/
    display:flex;
    justify-content:space-evenly;
    align-content:space-evenly;
}

#galeri .Book{
    width: 200px;
    height: 300px;
    background-color: lightgray;
    border:1px solid gray;
    display:flex;
    flex-direction:column;
    align-items:center;
}

    #galeri .Book:hover {
        border:1px solid black;
     
    }
#galeri img {
     /*  margin-left:auto;
       margin-right:auto;*/
        width: 80%;
        height:60%;
        /*height: 200px;*/
       
}

#galeri h5 {
        color:#333;
        /*height: 200px;*/
}
    #galeri a {
      text-decoration:none;
    }

    #galeri .puan {
       width:160px;
       height:32px;
       display:flex;
    }

    #galeri .puan img{
        width: 32px;
        height: 32px;
    }
    #galeri .sepet {
        color:dodgerblue;

    }

    .doctor-carousel-container {
    overflow: hidden;
    padding: 10px 40px;
}

.doctor-carousel {
    display: flex;
    gap: 25px;
    transition: transform 0.4s ease-in-out;
}

.doctor-card {
    flex: 0 0 calc(33.33% - 25px); /* 3 per row */
}

.carousel-btn {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background: #fff;
    border: none;
    font-size: 35px;
    padding: 2px 12px;
    border-radius: 50%;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    cursor: pointer;
}

.carousel-btn.left { left: 0; }
.carousel-btn.right { right: 0; }
